root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,java,css,scss,html,json,md,yml,yaml,properties}]
end_of_line = lf

[*.bat]
end_of_line = crlf
